DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=pid_dev
DB_USERNAME=root
DB_PASSWORD=root


DB_MYSQL_HOST=localhost
DB_MYSQL_PORT=3306
DB_MYSQL_USER=root
DB_MYSQL_PASSWORD=root
DB_MYSQL_NAME=rnd_dev
